@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #fff;
	background: #111;
	box-sizing: border-box;
}
.login {
	background-image: url(/Dashboard-Login.jpg);
	background-size: cover;

	background-repeat: no-repeat;
	height: 100%;
	width: 100vw;
}

/* ::-webkit-scrollbar {
	width: 0px;
} */
