@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #eef5f7;
	color: black;
	box-sizing: border-box;
	min-width: 300px;
}

/* ::-webkit-scrollbar {
	width: 0px;
} */
